@charset "UTF-8";
.headerEmergency {
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
    background: #fff
}

.headerEmergency li:first-child {
    padding-top: 5px
}

.headerEmergency li:last-child {
    padding-bottom: 5px
}

.headerEmergency a:link, html.mouseDevice .headerEmergency a:hover, .headerEmergency a:visited, html.mouseDevice .headerEmergency a:active {
    color: #cd0001
}

.pageHeaderSub .pageHeaderIn {
    display: block;
    width: 100%;
    height: auto;
    padding: 10px 0 8px
}

.pageHeaderSub .pageHeaderIn .titleWrapper {
    margin: 0 auto;
    padding: 0 3.75%;
    display: table;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.pageHeaderSub .pageHeaderIn .titleWrapper .title {
    display: table-cell
}

.pageHeaderSub .pageHeaderIn .titleWrapper .title h1 {
    font-weight: bold;
    font-size: 1.7rem;
    line-height: 100%;
    padding-top: 4px;
    padding-left: 0
}

.pageHeaderSub .pageHeaderIn .titleWrapper .product, .pageHeaderSub .pageHeaderIn .titleWrapper .episode {
    display: table-cell;
    vertical-align: middle;
    width: 80px;
    color: #333;
    text-align: center
}

.pageHeaderSub .pageHeaderIn .titleWrapper .product {
    padding-right: 10px
}

@media screen and (min-width:480px) {
    .pageHeaderSub .pageHeaderIn .titleWrapper .product {
        padding-right: 20px
    }
}

.pageHeaderSub .pageHeaderIn .titleWrapper .product .now span, .pageHeaderSub .pageHeaderIn .titleWrapper .episode .now span {
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 100%
}

.pageHeaderSub .pageHeaderIn .titleWrapper .product .max, .pageHeaderSub .pageHeaderIn .titleWrapper .episode .max {
    border-top: 1px solid #e5e5e5;
    margin-top: 2px;
    padding-top: 2px
}

.itemWrapper {
    padding-left: 0;
    padding-right: 0
}

.itemWrapper .itemModule.list, .itemWrapper .itemModule.mylist {
    border: 4px solid #fff
}

.itemWrapper .itemModule.list.end, .itemWrapper .itemModule.mylist.watched {
    border-color: #f2f2f2
}

.itemWrapper .itemModule.list.end.notSelected, .itemWrapper .itemModule.mylist.watched.notSelected {
    border-color: #ccc
}

.itemWrapper .itemModule.list.end.selected, .itemWrapper .itemModule.mylist.watched.selected {
    border-color: #ea5628
}

.itemWrapper .itemModule section {
    padding: 0
}

.itemWrapper .itemModule.list section {
    width: 100%;
    max-width: inherit
}

.itemWrapper .itemModule.list header p {
    width: auto
}

.itemWrapper .itemModule.list header .line2 span {
    max-height: 32px;
    height: auto;
    padding-top: 2px
}

.itemWrapper .itemModule.list .option {
    bottom: -27px;
    left: -3px
}

.itemWrapper .itemModule.drag {
    opacity: .7;
    z-index: 1000;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.75);
    will-change: transform
}

.editMode .itemWrapper .itemModule.mybest {
    -ms-touch-action: none;
    touch-action: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

.contentsWrapper .itemWrapper .itemModule.list .textContainer .iconContainer {
    bottom: 2px;
    padding-left: 10px
}

.contentsWrapper .itemWrapper .itemModule.list .textContainer .textContainerIn .iconContainer {
    padding-left: 0
}

.contentsWrapper .btnArea {
    padding: 0
}

.mypageHeader {
    position: relative;
    min-height: 21px
}

.mypageHeader .snsWrapper {
    position: absolute;
    left: 0;
    top: 66px;
    width: 100%;
    padding: 0
}

.mypageHeader .sortComment {
    display: none;
    position: absolute;
    left: 0;
    top: 58px;
    padding: 10px 0 10px 2em;
    font-weight: bold;
    font-size: 1.2rem;
    text-indent: -1em
}

.mypageHeader .sortComment:before {
    content: "※"
}

@media screen and (min-width:400px) {
    .mypageHeader .sortComment br {
        display: none
    }
    .mypageHeader .sortComment {
        top: 66px
    }
}

.mypageHeader .btnSelectToggle {
    display: none;
    position: absolute;
    right: 0;
    top: -10px;
    padding: 10px 0 10px 10px;
    font-weight: bold;
    font-size: 1.2rem;
    color: #ea552a;
    cursor: pointer
}

.mypageHeader .btnSelectToggle .checkboxList {
    padding: 0;
    height: auto;
    background: 0;
    border: 0;
    white-space: nowrap
}

.mypageHeader .btnSelectToggle .checkboxList span {
    display: inline-block;
    position: relative;
    top: -6px;
    vertical-align: middle;
    padding: 0
}

html.mouseDevice .mypageHeader .btnSelectToggle .checkboxList:hover span {
    text-decoration: underline
}

.mypageHeader .btnSelectToggle .checkboxList .count {
    display: none
}

.mypageHeader .btnEdit, .mypageHeader .btnEditCancel, .mypageHeader .btnHelp {
    position: absolute;
    right: 0;
    top: -10px;
    padding: 10px;
    font-size: 1.2rem;
    cursor: pointer
}

.mypageHeader .btnEditCancel {
    display: none
}

.mypageHeader .btnEdit a, .mypageHeader .btnEditCancel a {
    display: block
}

.mypageHeader .btnEdit a i, .mypageHeader .btnEditCancel a i {
    vertical-align: middle
}

@media screen and (min-width:500px) {
    .mypageHeader .btnSelectToggle {
        right: 110px
    }
    .editMode .mypageHeader .btnEditCancel {
        display: block
    }
    .mypageHeader .btnSelectToggle .checkboxList .count {
        display: inline-block
    }
}

.editFooter {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 200;
    width: 100%;
    background: #fff;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.15)
}

body:not(.editMode) .editFooter {
    display: none
}

.editFooter .btnCancel {
    float: left;
    width: 45%;
    margin: 8px 2.5% 8px 3.75%;
    padding: 12px 0;
    background: #fc0;
    text-align: center;
    font-weight: bold;
    font-size: 1.4rem;
    color: #000;
    cursor: pointer
}

.editFooter .btnDelete {
    float: right;
    width: 45%;
    margin: 8px 3.75% 8px 0;
    padding: 12px 0;
    background: #ec5528;
    text-align: center;
    font-weight: bold;
    font-size: 1.4rem;
    color: #fff;
    cursor: pointer
}

html.mouseDevice .editFooter .btnCancel:hover {
    background: #ffe066;
    text-decoration: none
}

html.mouseDevice .editFooter .btnDelete:hover {
    background: #f3997e;
    text-decoration: none
}

.editFooter a.btnDelete:link, html.mouseDevice .editFooter .btnDelete a:hover, .editFooter a.btnDelete:visited, html.mouseDevice .editFooter a.btnDelete:active {
    color: #fff
}

.dmarketWrapper .contentsWrapperIn h2.contentsTitle {
    margin-bottom: 0
}

.snsWrapper {
    padding: 0 3.75% 20px
}

.dmarketWrapper {
    padding-bottom: 10px
}

.itemWrapper .itemModule.dmarket section {
    max-width: none
}

@media screen and (max-width:400px) {
    .itemWrapper .itemModule.list .itemModuleIn .textContainer .textContainerIn {
        padding: 0 3px
    }
    .contentsWrapper .itemWrapper .itemModule.list .textContainer .iconContainer {
        padding-left: 3px
    }
    .itemWrapper .itemModule .addMyList {
        letter-spacing: -1px
    }
}

.headerSubTab {
    position: relative
}

.headerSubTab.scroll {
    overflow-x: auto
}

.headerSubTab::-webkit-scrollbar {
    display: none
}

.headerSubTab.scroll ul li {
    width: auto
}

.headerSubTab.scroll ul li a {
    padding-left: 13px;
    padding-right: 13px;
    white-space: nowrap
}

.editFooter .btnDelete .count:before, .contentsWrapper .mypageHeader .listTitle .count:before, .contentsWrapper .mypageHeader .btnSelectToggle .checkboxList .count:before, .contentsWrapper .btnSubscript .btnArea .btnSelectToggle .checkboxList .count:before, .contentsWrapper .btnArea.all .btnList .count:before, .contentsWrapper .itemWrapper .itemModule.mylist .line2 .count:before {
    content: "("
}

.editFooter .btnDelete .count:after, .contentsWrapper .mypageHeader .listTitle .count:after, .contentsWrapper .mypageHeader .btnSelectToggle .checkboxList .count:after, .contentsWrapper .btnSubscript .btnArea .btnSelectToggle .checkboxList .count:after, .contentsWrapper .btnArea.all .btnList .count:after, .contentsWrapper .itemWrapper .itemModule.mylist .line2 .count:after {
    content: ")"
}

@media screen and (min-width:960px) {
    .bannerWrapper {
        padding: 30px 3.75%
    }
    .pageHeaderSub .pageHeaderIn {
        padding: 0
    }
    .pageHeaderSub .pageHeaderIn .titleWrapper {
        max-width: 860px;
        padding: 0
    }
    .pageHeaderSub .pageHeaderIn .titleWrapper .title h1 {
        float: left;
        width: auto;
        font-weight: bold;
        font-size: 2.4rem;
        line-height: 100%;
        padding-top: 22px
    }
    .pageHeaderSub .pageHeaderIn .titleWrapper .title p {
        float: left;
        padding: 25px 0 0 20px
    }
    .pageHeaderSub .pageHeaderIn .titleWrapper .product, .pageHeaderSub .pageHeaderIn .titleWrapper .episode {
        margin-top: 14px
    }
    .pageHeaderSub .pageHeaderIn .titleWrapper .product {
        margin-right: 10px
    }
    .pageHeaderSub .pageHeaderIn .titleWrapper .product .now span, .pageHeaderSub .pageHeaderIn .titleWrapper .episode .now span {
        font-size: 1.3rem;
        font-weight: bold;
        line-height: 100%
    }
    .pageHeaderSub .pageHeaderIn .titleWrapper .product .max, .pageHeaderSub .pageHeaderIn .titleWrapper .episode .max {
        font-size: 1rem
    }
    .pageHeaderSub .pageHeaderIn .titleWrapper .product .max span, .pageHeaderSub .pageHeaderIn .titleWrapper .episode .max span {
        font-size: 1.3rem
    }
    .mypageHeader {
        position: relative;
        min-height: 50px;
        margin-bottom: 8px;
        font-size: 1.4rem;
        font-weight: bold
    }
    .mypageHeader .listTitle {
        padding-top: 15px
    }
    .mypageHeader .count {
        font-size: 1.2rem;
        font-weight: normal;
        padding: 15px 0 0 10px
    }
    .mypageHeader .btnSelectToggle {
        top: 5px
    }
    .mypageHeader .snsWrapper {
        position: absolute;
        left: 0;
        top: 5px;
        padding: 0
    }
    .mypageHeader .sortComment {
        left: auto;
        right: 307px;
        top: -5px
    }
    .mypageHeader .sortComment br {
        display: inline
    }
    .mypageHeader .btnEdit, .mypageHeader .btnEditCancel, .mypageHeader .btnHelp {
        position: absolute;
        right: 0;
        top: 5px;
        cursor: pointer
    }
    .itemWrapper .itemModule.list, .itemWrapper .itemModule.mylist {
        border-width: 3px;
        width: 409px
    }
    .itemWrapper .itemModule.list section {
        width: 409px
    }
    .itemWrapper .itemModule.list header {
        width: 409px
    }
    .itemWrapper .itemModule.list .option {
        bottom: -26px;
        left: -3px
    }
    .editFooter .editFooterIn {
        width: 860px;
        margin: 0 auto;
        padding: 20px 0
    }
    .editFooter .btnCancel {
        float: left;
        width: 360px;
        font-size: 1.6rem
    }
    html.mouseDevice .editFooter .btnCancel:hover {
        text-decoration: none;
        background: #ffe066
    }
    .editFooter .btnDelete {
        float: right;
        width: 360px;
        font-size: 1.6rem
    }
    html.mouseDevice .editFooter .btnDelete:hover {
        text-decoration: none;
        background: #f4997e
    }
    .contentsWrapper {
        margin-top: 20px;
        margin-bottom: 0;
        padding-bottom: 15px
    }
    .contentsWrapper+.pageFooter {
        margin-top: 0
    }
    .contentsWrapper .itemWrapper {
        padding: 0
    }
    .contentsWrapper .itemWrapper .itemModule.list .textContainer .iconContainer {
        bottom: 4px;
        padding-left: 0
    }
    .mypageWatch .itemWrapper .itemModule:first-child {
        margin-top: 0
    }
    .dmarketWrapper {
        padding-bottom: 30px
    }
    .dmarketWrapper .contentsWrapperIn h2.contentsTitle {
        margin-bottom: 8px
    }
    .dmarketWrapper .dmarketSwiper {
        width: 860px;
        margin: 0 auto
    }
    .dmarketWrapper .btnDmarketNext, .dmarketWrapper .btnDmarketPrev {
        top: 52%
    }
    .headerSubTab.scroll ul {
        table-layout: fixed
    }
}

.headerInfoBtn {
    display: flex;
    float: left;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    margin-top: 0
}

.headerInfoBtn span {
    font-size: 10px;
    font-weight: bold;
    width: 40px;
    margin-top: 2px
}

.headerInformation--goodsTop {
    display: flex;
    padding: 15px 10px
}

.btnInformation.btnInformation--goodsTop {
    width: 100% !important;
    height: 40px !important
}

.headerTab .iconEC-lock {
    margin: 0 6px 3px -10px
}

@media screen and (min-width:960px) {
    .headerInfoBtn {
        width: 60px;
        margin-right: 0
    }
    .headerInformation--goodsTop {
        padding: 15px 0
    }
    .headerTab .iconEC-lock {
        margin: 0 6px 4px -10px
    }
}